In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Importation des CSV

In [17]:
df_col = pd.read_csv(r'.\Data\cost_of_living.csv', delimiter=',')
df_col.head()

          country  cost_index  monthly_income  purchasing_power_index
0         Bermuda       157.6            9712                   105.0
1     Switzerland       142.4            7530                    90.1
2  Cayman Islands       137.9            5281                    65.2
3          Israel       130.2            4130                    54.1
4         Iceland       128.0            5368                    71.5

In [18]:
df_jid = pd.read_csv(r'.\Data\jobs_in_data.csv', delimiter=',')
df_jid.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [19]:
df_qol = pd.read_csv(r'.\Data\Quality of life in a country comparison.csv', delimiter=',')
df_qol.head()

,Unnamed: 0,Rank,Country,Stability,Rights,Health,Safety,Climate,Costs,Popularity,TotalQuality of life
0,0,1,Australia,86,92,87,100,90,23,41,76
1,1,2,San Marino,81,82,91,87,62,61,47,74
2,2,3,Hong Kong,77,85,100,97,49,61,41,74
3,3,4,Switzerland,91,99,93,99,34,44,46,74
4,4,5,Macao,90,71,100,93,48,61,44,73

# Preparation of the CSVs
## Cost of life Csv

FOr this dataset, we only need the cost index column. Salary will be taken from jobInData, and so will need to recalculate the purchasing power

In [20]:
df_col = df_col.drop(columns=['monthly_income', 'purchasing_power_index'])
df_col.head()

          country  cost_index
0         Bermuda       157.6
1     Switzerland       142.4
2  Cayman Islands       137.9
3          Israel       130.2
4         Iceland       128.0

## Jobs in Data CSV

Well, with actually 3y of apprenticeship, I'm more likely to get junior position than senior. So will only keep these rows.
Then will remove the rows of position in which I don't feel working in.

In [21]:
df_jid = df_jid[df_jid['experience_level'] == 'Entry-level']
df_jid = df_jid[df_jid['employment_type'] == 'Full-time']
df_jid = df_jid[(df_jid['job_title'] == 'Data Analyst') | (df_jid['job_title'] == 'Data Scientist')]
df_jid = df_jid.drop(columns=['work_year', 'job_category', 'salary_currency', 'salary', 'experience_level', 'employment_type', 'employee_residence'])
df_jid.head()

        job_title  salary_in_usd work_setting company_location company_size
15   Data Analyst          95000    In-person    United States            M
16   Data Analyst          75000    In-person    United States            M
63   Data Analyst         100000    In-person    United States            M
64   Data Analyst          75000    In-person    United States            M
143  Data Analyst         105000    In-person    United States            M

In [22]:
df_qol = df_qol.drop(columns=['TotalQuality of life', 'Rank', 'Unnamed: 0'])
df_qol.head()

       Country  Stability  Rights  Health  Safety  Climate  Costs  Popularity
0    Australia         86      92      87     100       90     23          41
1   San Marino         81      82      91      87       62     61          47
2    Hong Kong         77      85     100      97       49     61          41
3  Switzerland         91      99      93      99       34     44          46
4        Macao         90      71     100      93       48     61          44